.list-container {
    display: flex; 
    flex-wrap: wrap;  
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auction-box {
    margin: 5px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    background-color: rgb(255, 230, 129);
    border-radius: 10px;
    text-decoration: none;
}

.auction-box *{
    background-color: rgb(255, 230, 129);
    color: #000;
}