.search-container {
    position: relative;
    width: 100%;
}

.search {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
    background-color: white; 
    padding: 10px;
    text-align: center; 
    background: transparent;
    width: 50%;
    box-sizing: border-box;  
}

.search-input {
    width: 98%;
    padding: 3px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.search-button {
    width: 100%;
    background-color: rgb(255, 230, 129);
    border-radius: 10px;
    margin-top: 8px;
    padding: 4px;
}

.search-button:hover {
    background-color: darkgrey;
}

.searchbar {
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: rgb(56, 56, 56);
}

.search a{
    color: white;
    text-decoration: none;
    background-color: rgb(56, 56, 56); 
}
.search a:hover{
    color: darkgrey;
}